{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page X</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>D.A.R.C.</h1>
            <p>Distributed Asynchronous RGP Coordinator</p>
            <p>Project DARC is a modular and mod-able platform that should allow groups of people to carry out a traditional table-top RPG
                campaign, despite having players and a DM (the person running the game) in different places (distributed)
                and not all online at the same time (asynchronous).</p>
    
            <p>DARC is designed to be simple, secure, portable (mobile), and flexible/customizable.</p>
            <p>
                <a class="btn btn-primary" href="/game" role="button">Game</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}